.option-input {
	width: 65.7%;
	margin: 10px;
	height: 40px;
	padding: 5px;
}
.btn-add-option {
	padding: 5px 10px;
	height: 40px;
	background: white;
	font-weight: bold;
	display: inline-block;	
}
.error {
	padding: 10px;
	color: red;
	font: bold 18px "Open Sans", sans-serif;
	display: block;
	
}